GEMINI_API_KEY=pon_aqui_tu_clave_de_gemini
NEXT_PUBLIC_SUPABASE_URL=https://gimwbncwvspfznlnbkmz.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpbXdibmN3dnNwZnpubG5ia216Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MTAyODIsImV4cCI6MjA5NTk4NjI4Mn0.eY-XJhvv87IeIGMvcD2W1MAp5tNHm7OAvna1Y_qTTK8
